<div>
  <div>Current count: <%= @count %></div>
  <div>
    <div class="alert alert-danger">Test!</div>
    <button class="btn btn-primary" phx-click="incr_count" value="1">+1</button>
    <button class="btn btn-primary" phx-click="incr_count" value="-1">-1</button>
  </div>
</div>
