<div>
  <img src={~p"/images/views_test/#{@view <> ".jpg"}"} />

  <table>
    <tr>
      <td></td>
      <td><a class="btn btn-info" phx-click="go_to_view" phx-value-view="2np">🔎</a></td>
      <td></td>
    </tr>

    <tr>
      <td><a class="btn btn-info" phx-click="go_to_view" phx-value-view="2w">←</a></td>
      <td><a class="btn btn-info" phx-click="go_to_view" phx-value-view="2n">↑</a></td>
      <td><a class="btn btn-info" phx-click="go_to_view" phx-value-view="2e">→</a></td>
    </tr>
  </table>
</div>
