<div class="pt-3">
  <div class="mx-auto position-relative" style="width: 500px; overflow: hidden;">
    <img
      id="current_image"
      src={~p"/images/views_test/#{"#{@current_view}.jpg"}"}
      class="w-100 position-absolute"
      data-animation-class={@animation_class}
      phx-hook="RunAnimation"
    />
    <img
      id="previous_image"
      src={~p"/images/views_test/#{"#{@previous_view}.jpg"}"}
      class="w-100"
    />
  </div>

  <div class="pt-1"></div>
  <table class="mx-auto">
    <tr>
      <td></td>
      <td>
        <a
          class="btn btn-info"
          phx-click="go_to_view"
          phx-value-view="2np"
          phx-value-animation-class="animate-zoom-out"
          style="cursor: zoom-out"
        >
          🔎
        </a>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>
        <a
          class="btn btn-info"
          phx-click="go_to_view"
          phx-value-view="2w"
          phx-value-animation-class="animate-turn-left"
          style="cursor: w-resize"
        >
          ←
        </a>
      </td>
      <td>
        <a
          class="btn btn-info"
          phx-click="go_to_view"
          phx-value-view="2n"
          phx-value-animation-class="animate-zoom-in"
          style="cursor: n-resize"
        >
          ↑
        </a>
      </td>
      <td>
        <a
          class="btn btn-info"
          phx-click="go_to_view"
          phx-value-view="2e"
          phx-value-animation-class="animate-turn-right"
          style="cursor: e-resize"
        >
          →
        </a>
      </td>
    </tr>
  </table>
</div>
