<div class="pt-1 text-center small">
  <hr />
  <span class="mr-2"><%= link("Sign up", to: ~p"/auth/signup") %></span>
  <span class="mr-2"><%= link("Log in", to: ~p"/auth/login") %></span>
  <span class="mr-2">
    <%= link("Reset my password", to: ~p"/auth/request_password_reset") %>
  </span>
  <span class="mr-2">
    <%= link("Re-send account confirmation link",
      to: ~p"/auth/request_email_confirm"
    ) %>
  </span>
</div>
